@import './_components/include';
@import './_theme/common';
@import './_theme/_theme';

$primary-color: #696cff;

@include template-common-theme($primary-color);

// Navbar
// ---------------------------------------------------------------------------
@include template-navbar-style('.bg-navbar-theme', $card-bg, $color: $body-color, $active-color: $headings-color);

.layout-navbar {
    background-color: rgba($card-bg, 0.95) !important;
    backdrop-filter: saturate(200%) blur(6px);
}

.navbar-detached {
    box-shadow: 0 0 0.375rem 0.25rem rgba(rgba-to-hex($gray-500, $rgba-to-hex-bg), 0.15);
}

.layout-navbar-fixed .layout-page:before {
    backdrop-filter: saturate(200%) blur(10px);
    background: rgba($body-bg, 0.6);
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border-color: #696cff !important;
    background-color: #696cff !important;
    color: #fff !important;
    box-shadow: 0 0.125rem 0.25rem rgb(105 108 255 / 40%) !important;

    border: initial !important;
    background: initial !important;
    background: initial !important;
    background: initial !important;
    background: initial !important;
    background: initial !important;
    background: initial !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    line-height: 1;
    text-align: center !important;
    min-width: calc(2.1875rem + 0px) !important;
    /* position: relative; */
    /* display: block; */
    padding: 0.626rem 0.5125rem !important;
    font-size: 0.9375rem !important;
    color: #697a8d !important;
    background-color: #f0f2f4 !important;
    border: 0px solid #d9dee3 !important;
}

// Menu
// ---------------------------------------------------------------------------
@include template-menu-style('.bg-menu-theme',
    $white,
    $color: $body-color,
    $active-color: $headings-color,
    $border: transparent,
    $active-bg: $white);

.bg-menu-theme {

    // Menu header
    .menu-header {
        color: $text-muted;

        &:before {
            background-color: $text-muted !important;
        }
    }

    // menu shadow
    &.menu-vertical {
        box-shadow: 0 0.125rem 0.375rem 0 rgba(rgba-to-hex($gray-500, $rgba-to-hex-bg), 0.12);
    }

    // menu item open(vertical) & hover (vertical & horizontal)
    .menu-inner .menu-item.open>.menu-link,
    .menu-inner .menu-item .menu-link:not(.active):hover {

        html:not(.layout-menu-collapsed) &,
        .layout-menu-hover.layout-menu-collapsed & {
            background-color: rgba($black, 0.04);
        }
    }

    // menu item open(horizontal)
    .menu-inner .menu-sub>.menu-item.active {
        >.menu-link.menu-toggle {
            background-color: rgba($black, 0.04);
        }

        .menu-icon {
            color: $primary-color;
        }
    }

    // menu item active
    .menu-inner>.menu-item.active>.menu-link {
        color: $primary-color;
        background-color: rgba($primary-color, 0.16) !important;
    }

    .menu-inner>.menu-item.active:before {
        background: $primary-color;
    }

    // Sub menu item link bullet
    .menu-sub>.menu-item>.menu-link:before {
        background-color: rgba-to-hex($gray-400, $rgba-to-hex-bg) !important;
    }

    // Sub menu item link active bullet
    .menu-sub>.menu-item.active>.menu-link:not(.menu-toggle):before {
        background-color: $primary-color !important;
        border: 3px solid rgba-to-hex(rgba($primary-color, 0.16), $rgba-to-hex-bg) !important;
    }
}

.app-brand .layout-menu-toggle {
    background-color: $primary-color;
    border: 7px solid $body-bg;

    i {
        color: color-contrast($primary-color);
    }

    .menu-inner>.menu-header::before {
        background-color: rgba-to-hex($gray-400, $rgba-to-hex-bg);
    }
}

// Footer
// ---------------------------------------------------------------------------
@include template-footer-style('.bg-footer-theme', $body-bg, $color: $body-color, $active-color: $headings-color);

.layout-footer-fixed {
    .content-footer {
        box-shadow: 0 0 0.375rem 0.25rem rgba(rgba-to-hex($gray-500, $rgba-to-hex-bg), 0.15);
    }
}
